h3 {
  color: #cea82a;
  font-size: 24px;
}
button {
  background-color: #cea82a;
  color: black;
  font-size: 18px;
  border: none;
  padding: 10px 20px;
}
/* About.css */

.btn-warning {
  background-color: #cea82a;
  border: none;
  transition: all 0.3s ease-in-out;
}

.btn-warning:hover {
  background-color: #b38e24;
  color: white;
}
