/* WhatsApp Floating Image */
.whatsapp-float-img {
  width: clamp(40px, 20vw, 60px); /* min, fluid, max size */
  height: clamp(40px,20vw, 60px); /* keeps it a perfect circle */
  border-radius: 50%;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18); */ /* optional shadow */
}

/* WhatsApp Floating Button */
.whatsapp-float-btn {
  position: fixed;
  bottom: clamp(100px, 4vw, 100px); /* min, fluid, max spacing from bottom */
  right: clamp(16px, 6vw, 25px); /* min, fluid, max spacing from right */
  z-index: 5;
  cursor: pointer;
}
